body {
    font-family: futura; 
    font-size: 40pt;
    background-image: url(bananasbg.jpg);
    margin-top: 60px;
    margin-left: 210px;
    cursor: url(bananacursor.png), auto;
    }
    
.custom {
    cursor: url(bananacursor.png), auto;
}

div {
    cursor:url(bananacursor.png), auto;
}

custom {
    cursor: url(bananacursor.png), auto;
}