body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #fe0002;
  stroke-width: 2px;
}

.lineGroup {
  fill: none;
  stroke: #6b6b6c;
  stroke-width: 1.5px;
}

.lineChange {
  fill: none;
  stroke: yellow;
  stroke-width: 1.5px;
}

h1 {
    clear: both;
    font-size: 24px;
    font-weight: normal; 
}

h2 {
    font-size: 18px;
}

#notFound {
    clear: both;
    font-size: 2em;
    color: red; 
}

#schoolSearch {
    float: left; 
}

#button {
    display: table;
    width: 200px;
    height: 50px;
    background: black;
	float: left; 
    margin-left: 12.5px; 
    margin-right: 12.5px; 
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#button:hover {
    background: grey;
}

#button:active {
    background: #fe0002;
}

#button span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 18px; 
    font-weight: bold; 
}

#schoolSearch {
/*     margin-bottom: 25px;  */
}

#notFound {
    font-size: 14px; 
    padding-left: 10px; 
}

#searchHeader {
    height: 70px; 
    width: 1045px;
    padding-left: 15px;
}

#contentContainer {
    height: 65px; 
    padding-left: 15px; 
}

#schoolName {
/*     font-size: 3em;     */
    margin-top: 0;  
}

/* tooltip */

#tooltip, #tooltip2, #tooltip3 {
        position: absolute;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden, #tooltip2.hidden, #tooltip3.hidden {
        display: none;
}

#tooltip p, #tooltip2 p, #tooltip3 p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

/* typeahead */

.typeahead,
.tt-query,
.tt-hint {
/*   width: 396px; */
  width: 762px;
  height: 30px;
  padding: 8px 12px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  margin-right: 20px; 
}

.tt-dropdown-menu {
/*   width: 422px; */
  width: 838px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

