body {
    background-image: url('http://img.pandawhale.com/42784-AHS-Asylum-Name-Game-Sister-Ju-s3ED.gif');
    background-size: 100%;
    background-repeat: no repeat;
    font-family:courier;
    color: white; 
    text-align: right;
    font-size: 200%
    }
    
    

