html { 
  background: url(flyingdollar.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
/*     font-family: 'Codystar', cursive; */
    font-family: 'Sonsie One', cursive;
    font-size: 4em;
    color: white; 
    margin-top: 20%;
    margin-left: 175px; 
    margin-bottom: 0; 
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: white; 
    margin-left: 335px; 
    margin-top: 0; 
}

p {
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 18pt; 
}


body {
/*     background-image: url(flyingdollar.gif); */
/*     background-size: cover;  */
/*     background-repeat: no-repeat; */
}
    
#info {
/*     background-color: white;  */
/*     opacity: .8;  */
/*     width: 500px; */
/*     height: 200px;  */
    color: white; 
    font-size: 14pt; 
    margin-left: 725px; 
    margin-right: 25px; 
    margin-top: 50px; 
/*     text-align: right;  */
}