body {
    font-family: Times New Roman; 
    font-size: 10pt;
    margin-top: 100px;
	text-align: center;
    }
    
h1 { 
	font-family: Times New Roman;
	font-size: 10pt;
	margin-top: 80px;
	text-align: center;
	}
	
img {
    max-width:200px;
    margin:80px;
    }
    
p {
	font-style: italic;