body {
    background-color: #6897bb;
    font-family: 'Lobster', Helvetica; 
    text-align: center;
    color: white;
    text-shadow: 0px 1px 0px #000000;
    background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }

#Homework {
	-webkit-box-sizing: border-box;
	background-color: white;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin-left: 300px;
	background: -webkit-linear-gradient(-45deg, rgba(200,200,200,1) 0%,rgba(100,100,100,1) 36%,rgba(0,0,0,1) 100%);
	box-shadow: 0px 0px 100px #ffffff;


}

#Homework p {
	text-align: center;
	padding-top: 30px;
	color: white;
	font-family: Helvetica;
	font-size: 8px;
}

#main {
	-webkit-box-sizing: border-box;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding-top: 65px;
	background-color:#000000;
	font-size: 24px;
	box-shadow: 0px 0px 100px #ffffff;
	/*background: -webkit-linear-gradient(-45deg, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);*/
	background: -webkit-linear-gradient(-45deg, rgba(255,252,224,1) 0%,rgba(255,247,112,1) 36%,rgba(255,153,0,1) 100%);
	/*-webkit-animation: rainbowdimmer 15s 15 linear;
	-webkit-animation-name: rainbowdimmer;
	-webkit-animation-duration: 15s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: initial;
	-webkit-animation-iteration-count: 15;
	-webkit-animation-direction: initial;
	-webkit-animation-fill-mode: initial;
	-webkit-animation-play-state: initial;
	} */
}

}

.firstname {
	font-color: #1234ff;
	border-color: 2px solid black;

}

#subButton {
	background-color: white;
	padding: 4px;
	border-radius: 5px;
	border: none;
	-webkit-transition: background 0.2s linear;
	


}
#subButton:hover {
	background-color: orange;
	border-radius: 5px;
	cursor: hand;
	cursor: pointer;
	color: white;

}

#nmgm {
	border: 2px solid white;
	border-radius: 5px;
	padding: 2px;
	

}

#nmgm:hover {
	box-shadow: 0px 1px 2px black;

}

#nmgm input[type=text]:focus {
	border: 2px solid red;
}

#title {
	-webkit-box-sizing: border-box;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
}

#title h1{
	text-align: center;
	padding-top: 30px;
	color: white;
	font-family: 'Lobster', Helvetica;
	font-size: 12px;
}
