#five {
	background: #54278f;
	/*background-image: linear-gradient(top, red, red 70%, transparent 70%, transparent 100%)*/
}

#four {
	background: #756bb1;
}

#three {
	background: #9e9ac8;
}

#two {
	background: #cbc9e2;
}

#one {
	background: #f2f0f7;
}

#nots {
	/*background: #cccccc;
}*/